{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container" data-js-vars="{{ results }}">
    <div class ="row align-items-stretch">
    <div class="col-12 col-md-5 ms-auto me-auto shadow mb-5 bg-white rounded">
        <div class="row">
        <div class="col-4 align-self-center">
            {% if  employee.avatar %}
            <img class="img-responsive mw-100 rounded" alt="avatar" src="{{employee.avatar.url}}">
            {% else %}
                {% if employee.sex == 'F' %}
                    <img class="img-responsive mw-100 rounded" alt="avatar" src="{% static 'female-profile.jpg' %}">
                {% else %}
                     <img class="img-responsive mw-100 rounded" alt="avatar" src="{% static 'male-profile.jpg' %}">
                {% endif %}
            {% endif %}

        </div>
        <div class="col-4">
            <div >
                <p class="m-0 text-primary">Name</p>
                <p class="mb-2">{{employee.name}}</p>
            </div>
            <div >
                <p class="m-0 text-primary">Date of Birth</p>
                <p class="mb-2">{{employee.birth_date}}</p>
            </div>
            <div >
                <p class="m-0 text-primary">Email</p>
                <p class="mb-2">{{employee.email}}</p>
            </div>
        </div>
        <div class="col-4">
            <div >
                <p class="m-0 text-primary">Position</p>
                <p class="mb-2">{{employee.position}}</p>
            </div>
            <div >
                <p class="m-0 text-primary">Date of Joining</p>
                <p class="mb-2">{{employee.join_date}}</p>
            </div>
        </div>
    </div>
    </div>
    <div class="col-12 col-md-5 me-auto ms-auto shadow mb-5 bg-white rounded">
        <div class="row">
            <div class="col-4">
                {% if last_results.status == 'Low' %}
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-circle-fill w-100 h-100 p-lg-3 p-0" viewBox="0 0 16 16">
                    <circle cx="50%" cy="50%" r="8"/>
                </svg>
                {% endif %}
                {% if last_results.status == 'Moderate' %}
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="yellow" class="bi bi-circle-fill w-100 h-100 p-3" viewBox="0 0 16 16">
                    <circle cx="50%" cy="50%" r="8"/>
                </svg>
                {% endif %}
                {% if last_results.status == 'High' %}
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="red" class="bi bi-circle-fill w-100 h-100 p-3" viewBox="0 0 16 16">
                    <circle cx="50%" cy="50%" r="8"/>
                </svg>
                {% endif %}
            </div>
            <div class="col-4">
                <div >
                    <p class="m-0 text-primary">Status</p>
                    <p class="mb-2">{{last_results.status}}</p>
                </div>
                <div >
                    <p class="m-0 text-primary">Count of Tweets</p>
                    <p class="mb-2">{{last_results.count}}</p>
                </div>
            </div>
            <div class="col-4">
                <div >
                    <p class="m-0 text-primary">Normal</p>
                    <p class="mb-2">{{last_results.percent_N}}</p>
                </div>
                <div >
                    <p class="m-0 text-primary">Stressed</p>
                    <p class="mb-2">{{last_results.percent_S}}</p>
                </div>
                <div >
                    <p class="m-0 text-primary">Lonely</p>
                    <p class="mb-2">{{last_results.percent_L}}</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class ="row align-items-stretch">
        <div class ="row align-items-stretch">
            <div class="col-lg-2 col-md-3 ms-auto me-auto p-2 mb-2 bg-white rounded">
                <label for="start_date">Start Date</label>
                <input class="w-100 form-control" type = "date" id="start_date" name = "start_date"> 
            </div>
            <div class="col-lg-2 col-md-3 ms-auto me-auto p-2 mb-2 bg-white rounded">
                <label for="end_date">End Date</label>
                <input class="w-100 form-control" type = "date" id="end_date" name = "end_date"> 
            </div>
            <div class="col-lg-2 col-md-3 ms-auto me-auto p-2 mb-2 bg-white rounded">
                <label for="multiple-select-field">Properties</label>
                <select class="form-select" id="multiple-select-field" data-placeholder="Choose properties" multiple>
                    <option value="N">Normal Percent</option>
                    <option value="S">Stressed Percent</option>
                    <option value="L">Lonely Percent</option>
                    <option value="C">Count of Tweets</option>
                </select>
            </div>
        </div>
    <div class ="row align-items-stretch">
        <div class="col-10 h-100 ms-auto me-auto shadow p-2 mb-5 bg-white rounded">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>


<script src="https://momentjs.com/downloads/moment.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> 
<script src="{% static 'js/script_profile.js' %}"></script>

{% endblock content %}