{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mb-5" data-js-vars="{{ all_results }}">
  <script>
    var url = "{% url 'profile' 0 %}";
    document.getElementsByClassName('container')[0].setAttribute('data-url',url);
  </script>
  {% include 'personal/snippets/body_header.html' %}
  <!--Navigation tabs  -->
  <nav>
    <div class="nav nav-tabs" id="nav_tab_grouped" role="tablist">
        <button class="nav-link active" id="nav-high-tab" data-bs-toggle="tab"
        data-bs-target="#nav-high" type="button" role="tab" aria-controls="nav-high"
        aria-selected="true" category = "H">High</button>
  
        <button class="nav-link" id="nav-moderate-tab" data-bs-toggle="tab"
        data-bs-target="#nav-moderate" type="button" role="tab" aria-controls="nav-moderate"
        aria-selected="false" category = "M">Moderate</button>
  
        <button class="nav-link" id="nav-low-tab" data-bs-toggle="tab"
        data-bs-target="#nav-low" type="button" role="tab" aria-controls="nav-low"
        aria-selected="false" category = "L">Low</button>

        <button class="nav-link" id="nav-improved-tab" data-bs-toggle="tab"
        data-bs-target="#nav-improved" type="button" role="tab" aria-controls="nav-improved"
        aria-selected="false" category = "I">Improved</button>

        <button class="nav-link" id="nav-worsened-tab" data-bs-toggle="tab"
        data-bs-target="#nav-worsened" type="button" role="tab" aria-controls="nav-worsened"
        aria-selected="false" category = "W">Worsened</button>
    </div>
  </nav>


  <div class="tab-content" id="nav-tabContent">
  <!-- High -->
  <div class="tab-pane fade show active p-3" id="nav-high" role="tabpanel"
  aria-labelledby="nav-high-tab">
  <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Search..">
  <div class="overflow-y-auto hide-scroll" style="max-height: 41vh;">
    <table class="table table-bordered table-striped">
      <tbody id="myTable_H">  
      </tbody>
    </table>
  </div>
</div>

  <!--Moderate  -->
  <div class="tab-pane fade show p-3" id="nav-moderate" role="tabpanel"
  aria-labelledby="nav-moderate-tab">
  <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Search..">

  <div class="overflow-y-auto hide-scroll" style="max-height: 41vh;">
    <table class="table table-bordered table-striped">
      <tbody id="myTable_M">  
      </tbody>
    </table>
  </div>
</div>

  <!--Low  -->
  <div class="tab-pane fade show p-3" id="nav-low" role="tabpanel"
  aria-labelledby="nav-low-tab">
  <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Search..">
  <div class="overflow-y-auto hide-scroll" style="max-height: 41vh;">

    <table class="table table-bordered table-striped">
      
      <tbody id="myTable_L"> 
      </tbody>
    </table>
  </div>
</div>

  <!--Improved  -->
  <div class="tab-pane fade show p-3" id="nav-improved" role="tabpanel"
  aria-labelledby="nav-improved-tab">
  <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Search..">

  <div class="overflow-y-auto hide-scroll" style="max-height: 41vh;">

    <table class="table table-bordered table-striped">
      
      <tbody id="myTable_I"> 
      </tbody>
    </table>
  </div>
</div>

  <!--Worsened  -->
  <div class="tab-pane fade show p-3" id="nav-worsened" role="tabpanel"
  aria-labelledby="nav-worsened-tab">
  <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Search..">
  <div class="overflow-y-auto hide-scroll" style="max-height: 41vh;">
    <table class="table table-bordered table-striped">
      <tbody id="myTable_W">  
      </tbody>
    </table>
  </div>
</div>

</div>
</div>
<script src="{% static 'js/script_table.js' %}"></script>
{% endblock content %} 
  
  

