  <!--Navigation tabs  -->
  <nav>
    <div class="nav nav-tabs" id="nav_tab_grouped" role="tablist">
        <button class="nav-link active" id="nav-high-tab" data-bs-toggle="tab"
        data-bs-target="#nav-high" type="button" role="tab" aria-controls="nav-high"
        aria-selected="true">High</button>
  
        <button class="nav-link" id="nav-moderate-tab" data-bs-toggle="tab"
        data-bs-target="#nav-moderate" type="button" role="tab" aria-controls="nav-moderate"
        aria-selected="false">Moderate</button>
  
        <button class="nav-link" id="nav-low-tab" data-bs-toggle="tab"
        data-bs-target="#nav-low" type="button" role="tab" aria-controls="nav-low"
        aria-selected="false">Low</button>

        <button class="nav-link" id="nav-improved-tab" data-bs-toggle="tab"
        data-bs-target="#nav-improved" type="button" role="tab" aria-controls="nav-improved"
        aria-selected="false">Improved</button>

        <button class="nav-link" id="nav-worsened-tab" data-bs-toggle="tab"
        data-bs-target="#nav-worsened" type="button" role="tab" aria-controls="nav-worsened"
        aria-selected="false">Worsened</button>
    </div>
  </nav>


  <div class="tab-content" id="nav-tabContent">

  <div class="tab-pane fade show active p-3" id="nav-high" role="tabpanel"
  aria-labelledby="nav-high-tab">
  <div>
    <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Search..">

    <table class="table table-bordered table-striped">
      
      <tbody id="myTable">
        <tr>
          <td class="col-11"><h3>Ann Lister</h3> <p>High risk twoo scanings</p></td>
          <td class="bg-dark col-1 "></td>
        </tr>
        <tr>
            <td class="col-11"><h3>Mary Lister</h3> <p>High risk twoo scanings</p></td>
            <td class="bg-dark col-1">j</td>
          </tr>
        
      </tbody>
    </table>
</div>

  </div>
  <!--Grouped  -->
  <div class="tab-pane fade show p-3" id="nav-moderate" role="tabpanel"
  aria-labelledby="nav-moderate-tab">

  </div>
</div>
