{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container mb-5" data-js-vars="{{ all_results }}">
  <script>
    var url = "{% url 'profile' 0 %}";
    document.getElementsByClassName('container')[0].setAttribute('data-url',url);
  </script>
  {% include 'personal/snippets/body_header.html' %}
  <!--Content of tabs  -->
    <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Search..">
    <div class="overflow-y-auto hide-scroll" style="max-height: 50vh;">
      <table class="table table-striped">
        
        <tbody id="myTable">     
        </tbody>
      </table>
  </div> 
  </div>
 

</div>
<script src="{% static 'js/script_table.js' %}"></script>
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
{% endblock content %}
