
  <div class="modal fade" id="scaningForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form method="post" class="modal-content">
      {% csrf_token %}
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Scaning</h4>
        <button data-dismiss="modal" aria-label="Close" class="btn btn-close"></button>
      </div>
      <div class="modal-body mx-3 d-flex flex-column">
        {% for field in form %}
        <div class="form-group form-outline mb-4">
          {{ field.label }}
            {{field}}
        </div>
        {% endfor %}
               

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg">Star scanning</button>
      </div>
    </form>
  </div>
</div>


    