{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mb-5" data-js-vars="{{ results }}">
  {% include 'personal/snippets/body_header.html' %}
  <!--Statistic  -->
        <div class ="row align-items-stretch justify-content-center">
            <div class ="row align-items-stretch">
                <div class="col-lg-2 col-md-3 ms-auto me-auto p-2 mb-2 rounded">
                    <label for="start_date">Start Date</label>
                    <input class="w-100 form-control" type = "date" id="start_date" name = "start_date"> 
                </div>
                <div class="col-lg-2 col-md-3 ms-auto me-auto p-2 mb-2 rounded">
                    <label for="end_date">End Date</label>
                    <input class="w-100 form-control" type = "date" id="end_date" name = "end_date"> 
                </div>
                <div class="col-lg-2 col-md-3 ms-auto me-auto p-2 mb-2 rounded">
                    <label for="select_group">Group By</label>
                    <select class="form-select" id="select_group" data-placeholder="Select Group">
                        <option value="Date">Date</option>
                        <option value="Position">Position</option>
                        <option value="Time">Working Period</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-3 ms-auto me-auto p-2 mb-2 rounded">
                    <label for="select_chart">Chart Type</label>
                    <select class="form-select" id="select_chart" data-placeholder="Select Chart">
                        <option value="Pie">Pie</option>
                        <option value="Line">Line</option>
                        <option value="Column">Column</option>
                        <option value="Stucked">Stucked Column</option>
                    </select>
                </div>
            </div>
        <div class ="row align-items-stretch mb-4">
            <div id="chartContainer" class="ms-auto me-auto col-12  shadow p-2 bg-white rounded text-center chart_lg">
                {% if 'Position/Pie' in request.path or  'Time/Pie' in request.path %}
                <div class="row justify-content-center mb-3">
                    <div class="col-md-5 col-sm-12 chart_sm"><canvas id="myChart"></canvas></div>
                    <div class="col-md-5 col-sm-12 chart_sm"><canvas id="myChart1"></canvas></div>
                </div>
               <div class="row justify-content-center">
                <div class="col-md-5 col-sm-12 chart_sm"><canvas id="myChart2"></canvas></div>
                <div class="col-md-5 col-sm-12 chart_sm"><canvas id="myChart3"></canvas></div>
               </div>
                
                {% else %}
                    {% if 'Position/Line' in request.path %}
                        <div class="row mb-3 chart_md">
                            <div class="col-md-3 col-sm-12 pe-0" ><div id="legendBox" class="legendBox row p-0 me-auto"></div ></div>
                            <div class="col-md-8 col-sm-10 p-0 me-auto ms-auto"><canvas id="myChart"></canvas></div>
                        </div>
                    {% else %}
                        <canvas id="myChart"></canvas>
                    {% endif %}
                {% endif %}
                
            </div>
        </div>
    </div>


</div>  

<!-- <script src="https://momentjs.com/downloads/moment.min.js"></script>   -->
<script src="{% static 'js/script_statistic.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> 


{% endblock content %}