{% load static %}
  <!--Scanning button  -->
  <div class="col-md-12 text-center mb-5 mt-5">
    <button id="scan-btn" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#scaningForm">
      START SCANNING
    </button>
  </div>
  {% if task_id %}
  <div class='progress-wrapper progress'>
    <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
  </div>
  <div id="progress-bar-message">Waiting for scaning to start...</div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
      CeleryProgressBar.initProgressBar(progressUrl);
    });
    document.getElementById("scan-btn").classList.add("disabled");
  </script>
  {% endif %}
  {% include 'personal/modal_scaning.html' %}
  <div class="shadow col-md-12 bg-light-subtle">
    <!--Navigation tabs  -->
    <ul class="nav nav-tabs mb-1 pt-2">
      <li class="nav-item">
        <a class="nav-link" id="all_employees_tab" href="/">All employees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="grouped_tab" href="/grouped">Grouped</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="statistic_tab" href="/statistic">Statistic</a>
      </li>
    </ul>
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>