  <!--Scanning button  -->
  <div class="col-md-12 text-center pt-5">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#scaningForm">
      START SCANNING
    </button>
  </div>
  
  {% include 'personal/modal_scaning.html' %}
  
    <!--Navigation tabs  -->
    <ul class="nav nav-tabs mb-1">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">All employees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/grouped">Grouped</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/statistic">Statistic</a>
      </li>
    </ul>