{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="text-center login_body min-vh-100">
	<section class="jumbotron d-flex align-items-center min-vh-100 bg-transparent justify-content-center m-0">
		<div class="container-fluid d-flex justify-content-center">
		  <div class="row bg-light rounded" style="--bs-bg-opacity: .5;">
			<div>  
			  <div class="px-5 mt-5">
				<img style="vertical-align: baseline;" src="{% static 'Logo.png' %}" width="40" height="30">
				
				<span class="h1 fw-bold mb-0">MindCheck</span>
			  </div>
	  
			  <div class="d-flex align-items-center h-custom-2 px-5 mt-3 ">  
				<form method="post">
					{% csrf_token %}
					{% for field in login_form %}
						<div class="form-group form-outline mb-4">
							{{field}}
						</div>
					{% endfor %}
				
					{% for field in login_form %}
						{% for error in field.errors %}
							<p style="color: var(--bs-danger-text);">{{error}}</p>
						{% endfor %}
					{% endfor %}
					
					{% if login_form.non_field_errors %}
						<div style="color: var(--bs-danger-text);">
							{% for err in login_form.non_field_errors %}
							<p>{{err}}</p>
							{% endfor %}
						</div>
					{% endif %}
					<div class="form-group mb-4">
						<button class="btn btn-dark btn-lg form-control btn-block" type="submit">Log in</button>
					</div>
					
					
				</form>
			  </div>
	  
			</div>
		  </div>
		</div>
	  </section>

</body>



{% endblock content %}